body{
    background-color: #0f2940!important;
    color: cornsilk!important;
}

nav{
    position: fixed;
    font-family: 'Poppins', sans-serif;
    top: 0;
}
form{
    margin-top: 200px;
}
form label{
    text-align: center;
    display: block;
}
form button{
    top: 10px;
    left: 10px;
}
.mt-5{
    margin-bottom: 11em;
}
h1, h3{
    display: block;
    text-align: center;
}
h3{
    margin-bottom: 60px!important;
}