header{
    width: 100%;
    height: 495px;
    background-image: url("..//img/accueil.png");
    background-size: cover;

}

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lettre{
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0%{
        color: #FFF900;
        text-shadow: 0 0 7px #FFF900;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #FFF900;
        text-shadow: 0 0 7px #FFF900;
    }
}
.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}
.fondu-out{
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.header-text{
    display: flex;
    line-height: 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 16em;
    padding-top: 6%;
    text-shadow: -1px 2px 0 black;
}
.header-text p{
    font-size: 15px;
    
}
.header-text h1{
    font-size: 4em;
}
.header-text h3{
    font-size: 2.5em;
}
#p-un, #h-deux{
    color: #FFBF00;
}
#p-deux, #h-un{
    color: white;
}
/*************************************/
/* barre de pub horizontale */
.marque-horizontal{
    z-index: 200;
    width: 100%;
    height: 40px;
    background-color: #075bb1;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
}

.track{
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    animation: marquee-horizontal 100s linear infinite;
}

.text-track{
    color: #fff;
    text-transform: uppercase;
    flex: none;
    margin-right: 8vw;
    font-weight: 400;
}
@keyframes marquee-horizontal {
    0%{transform: translateX(150%);}
    100%{transform: translateX(-100%);}
}



.img-grid {
    padding: 55px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-items: center;
    background-color: #012B6D;
    }
    
    .qualification { 
        grid-area: 1 / 1 / 2 / 2;
        background-color: #7c8c9c;
        background-image: url("..//img/Qualifications.png");
        
    }
    .recrutement { 
        grid-area: 1 / 2 / 2 / 3;
        background-image: url("..//img/recrutement.png");
    }
    .diversite { 
        grid-area: 1 / 3 / 2 / 4; 
        background-image: url("..//img/Diversiter.png");
    }
    .carrières { 
        grid-area: 2 / 3 / 3 / 4;
        background-image: url("..//img/Carriere.png");
    }
    .servir { 
        grid-area: 2 / 2 / 3 / 3;
        background-image: url("..//img/proteger.png"); 
    }
    .salaire { 
        grid-area: 2 / 1 / 3 / 2; 
        background-image: url("..//img/Salaire.png");
        backface-visibility: hidden;
    }

.qualification, .recrutement, .diversite, .carrières, .servir, .salaire {
    width: 100%;
    height: 250px;
    border: 2px solid #075BB1;
    background-size: cover;
    text-align: center;
    color: #FFF; 
         
}

#titre{
    font-size: 1.9em;
    position: relative;
    top: 30%;
    text-shadow: 1px 2px 2px black;
}
#texte{
    position: relative;
    top: 23%;
    text-shadow: 1px 2px 2px black;
    font-size: 1.3em;
}
.color{
    color: white;
    transition: color 30ms ease-in-out;
}

.color:hover{
    color: #FF7300;
}
@media screen and (max-width: 1400px){/* Une seule colonne pour les écrans plus petits */
    .img-grid {
        display: block;
        width: 100%;
    }
}
/************************************************/
/* footer ( pied de la page ) */

footer{
    width: 100%;
    height: 315px;
    background-image: url("..//img/footer.png");
    background-size: cover;
    background-position: center center;
}

/* tableau */
table{
    display: flex;
    justify-content: center;
    position: relative;
    top: 65px;
}
tr{
    text-align: center;
}
td{
    padding: 20px;
}
td a{
    color: #87D9FF;
    text-decoration: none;
}
